/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #333;
}

/* line 16, ../sass/screen.scss */
table {
  width: 100%;
}

/* line 19, ../sass/screen.scss */
th {
  cursor: pointer;
}

/* line 22, ../sass/screen.scss */
button.loadMore {
  background: #888;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  color: #eee;
  cursor: pointer;
}
/* line 29, ../sass/screen.scss */
button.loadMore:hover {
  background: #777;
}

/* line 33, ../sass/screen.scss */
button.loadNext {
  margin-left: -50px;
}

/* line 36, ../sass/screen.scss */
button.vertical-align {
  position: absolute;
  margin-top: -50px;
  opacity: 0.4;
  top: 50%;
}
/* line 40, ../sass/screen.scss */
button.vertical-align:hover {
  opacity: 1;
}

/* line 45, ../sass/screen.scss */
.data-viz {
  position: relative;
}

/* line 48, ../sass/screen.scss */
#app {
  background: #EEE;
  padding: 35px 0;
}

/* line 52, ../sass/screen.scss */
.title {
  color: #888;
  font-size: 81px;
  font-weight: normal;
  letter-spacing: -4px;
  line-height: 1em;
  margin-bottom: 28px;
  margin-left: 15px;
}

/* line 62, ../sass/screen.scss */
.container {
  overflow: hidden;
  clear: both;
}

/* line 66, ../sass/screen.scss */
.column {
  float: left;
  /** Auto height CSS fix */
  padding-bottom: 1000000000px;
  margin-bottom: -1000000000px;
}

/* line 73, ../sass/screen.scss */
#sites {
  /*
    background: #001;
    background: #112;
  */
  min-height: 500px;
  overflow: visible;
  float: left;
  width: 30%;
}

/* line 83, ../sass/screen.scss */
#sites ul {
  position: relative;
  margin: 0;
  white-space: nowrap;
}

/* line 89, ../sass/screen.scss */
.site {
  background: #001;
  background: #AAA;
  color: #FFF;
  display: block;
  list-style: none;
  margin-right: 0;
  margin-bottom: 1px;
  padding: 15px 30px 25px 60px;
}

/* line 99, ../sass/screen.scss */
.site:hover {
  background: #223;
  background: #9f9f9f;
  cursor: pointer;
}

/* line 104, ../sass/screen.scss */
.site.active {
  background: #223;
  background: #888;
  cursor: pointer;
}

/* line 110, ../sass/screen.scss */
.disk-info ul {
  display: block;
  padding: 0;
  margin: 0;
  width: 200px;
}
/* line 116, ../sass/screen.scss */
.disk-info h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.8em;
  text-transform: uppercase;
}
/* line 122, ../sass/screen.scss */
.disk-info li {
  color: #D0D0D0;
  font-size: 0.9em;
  line-height: 1.4em;
  margin-left: 15px;
  list-style: none;
}
/* line 128, ../sass/screen.scss */
.disk-info li:before {
  color: #EEE;
  content: attr(title) ": ";
  font-weight: bold;
}
/* line 134, ../sass/screen.scss */
.disk-info .task-options {
  position: absolute;
  right: -100px;
  top: -20px;
  background: #333;
  border-radius: 2px;
  color: #fff;
}
/* line 141, ../sass/screen.scss */
.disk-info .task-options span {
  display: block;
  padding: 5px;
}
/* line 144, ../sass/screen.scss */
.disk-info .task-options span:hover {
  background: #444;
}
/* line 148, ../sass/screen.scss */
.disk-info .task-options:before {
  content: "";
  left: -10px;
  position: absolute;
  top: 60px;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333;
  border-top: 10px solid transparent;
}

/* line 161, ../sass/screen.scss */
.disk-status {
  background: #FFF;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/* line 168, ../sass/screen.scss */
#right {
  float: right;
  width: 70%;
}

/* line 173, ../sass/screen.scss */
#tasks {
  background: #09A;
  background: #888;
  width: 100%;
  /* pseudo-shadow */
}
/* line 177, ../sass/screen.scss */
#tasks .task {
  color: #EEE;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 55px;
  line-height: 55px;
  padding: 0 35px;
  text-transform: uppercase;
}
/* line 187, ../sass/screen.scss */
#tasks .task:hover {
  background: #777;
}

/* line 199, ../sass/screen.scss */
#items {
  background: #CCC;
  background: #BBB;
  height: auto;
  width: 100%;
}

/* line 205, ../sass/screen.scss */
#items ul {
  margin: 0;
}

/* line 208, ../sass/screen.scss */
.item {
  color: #888;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  margin: 0;
  padding-top: 7px;
  padding: 5px 25px;
}

/* line 218, ../sass/screen.scss */
.item:hover {
  background: #AAA;
}

/* line 226, ../sass/screen.scss */
#viewport {
  padding: 10px;
}

/* line 230, ../sass/screen.scss */
#disks {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 235, ../sass/screen.scss */
.disk {
  float: left;
  width: 44%;
  padding: 3%;
  list-style: none;
}

/* line 241, ../sass/screen.scss */
.disk ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/** Table headers */
/* line 248, ../sass/screen.scss */
.sorted.desc:after {
  content: " \25b2";
}

/* line 251, ../sass/screen.scss */
.sorted.asc:after {
  content: " \25bc";
}

/** Table Rows */
/* line 256, ../sass/screen.scss */
.even {
  background: #ddd;
}

/* line 259, ../sass/screen.scss */
.odd {
  background: #ccc;
}

/** Progress bar styling */
/* line 264, ../sass/screen.scss */
.progress {
  width: 250px;
  height: 20px;
  border-radius: 10px;
  background: #888;
}

/* line 270, ../sass/screen.scss */
.progress .percent {
  width: 250px;
  position: absolute;
  text-align: center;
  color: white;
}

/* line 276, ../sass/screen.scss */
.progress div {
  height: 30px;
}

/** Color coding */
/* line 281, ../sass/screen.scss */
.warn-level-2 {
  border-left: 10px solid #ED5151;
}

/* line 284, ../sass/screen.scss */
.warn-level-1 {
  border-left: 10px solid #F2F06B;
}

/* line 287, ../sass/screen.scss */
.warn-level-0 {
  border-left: 10px solid #4AD1F0;
}

/* line 290, ../sass/screen.scss */
.red {
  background: #ED5151;
}

/* line 293, ../sass/screen.scss */
.yellow {
  background: #F2F06B;
}

/* line 296, ../sass/screen.scss */
.blue {
  background: #4AD1F0;
}

/* line 299, ../sass/screen.scss */
.green {
  background: #6AF795;
}

/* line 302, ../sass/screen.scss */
.site.warn-level-2:hover, .site.warn-level-2.active {
  background: #C44343;
}

/* line 305, ../sass/screen.scss */
.site.warn-level-0:hover, .site.warn-level-0.active {
  background: #42BFDB;
}

/** jQuery Mobile Fix */
/* line 310, ../sass/screen.scss */
.ui-loading .ui-loader {
  display: block;
}

/* line 311, ../sass/screen.scss */
.ui-loader {
  display: none;
  position: absolute;
  opacity: .85;
  z-index: 100;
  left: 50%;
  width: 200px;
  margin-left: -130px;
  margin-top: -35px;
  padding: 10px 30px;
}

@media all and (max-width: 979px) {
  /* line 314, ../sass/screen.scss */
  #sites, #right {
    width: 100%;
  }

  /* line 317, ../sass/screen.scss */
  .disk {
    width: 100%;
    clear: both;
  }
}
@media all and (max-width: 560px) {
  /* line 323, ../sass/screen.scss */
  .title {
    font-size: 3em;
  }

  /* line 326, ../sass/screen.scss */
  #sites {
    position: fixed;
    top: 100px;
    overflow: auto;
    background: #888;
    height: 100%;
    -webkit-transform: translateX(-2000px);
  }

  /* line 334, ../sass/screen.scss */
  #tasks .task, #items .item {
    padding: 0 12px;
  }
}
